{# Twig for the footer as a whole, i.e. everything inside <footer>  
  page.html.tywig is currently definind the regions. Maybe
  an embed is psossible on the page,thml klevel, 
  withan if statement for if either region.
#}


<div {{ attributes.addClass("ridd-region-footer-container") }}>
  <div class="ridd-region-footer-grid">
   
    {# item 1 #}
    <div class="ridd-region-footer-branding">
        {% if site_logo %}
      <a href="{{ path('<front>') }}" rel="home">
        <img id="ridd-site-logo-footer-region" src="{{ site_logo }}" 
            alt="{{ 'Home'|t }}" fetchpriority="high"/></a>
      {% endif %}
      <div class="ridd-site-branding-text-container-footer-region">
        {% if site_name %}
          <a href="{{ path('<front>') }}" rel="home" id="ridd-site-name-footer-region"
        >{{ site_name }}</a>
        {% endif %}
      </div>
    </div> 
  
  {# Intended to be 4 other elements for footer #}
  {% for key, element in elements %}
    {% if key|first != '#' and element is iterable %}
    <div class="ridd-region-footer-element-wrapper">
      {{ element }}
    </div>
    <hr class="ridd-footer-divider">
    {% endif %}
  {% endfor %}
      
  </div>
</div>


