{# Twig for the footer as a whole, i.e. everything inside <footer>  
  page.html.tywig is currently definind the regions. Maybe
  an embed is psossible on the page,thml klevel, 
  withan if statement for if either region.
#}


<div class="ridd-region-footer-container">
  <div class="ridd-region-footer-grid">
    <div class="ridd-region-footer-col">
      <div class="ridd-region-footer-col-branding">
         {% if site_logo %}
        <a href="{{ path('<front>') }}" rel="home">
          <img id="ridd-site-logo-footer-region" src="{{ site_logo }}" 
              alt="{{ 'Home'|t }}" fetchpriority="high"/></a>
        {% endif %}
        <div class="ridd-site-branding-text-container-footer-region">
          {% if site_name %}
           <a href="{{ path('<front>') }}" rel="home" id="ridd-site-name-footer-region"
          >{{ site_name }}</a>
         {% endif %}
          {% if site_slogan %}
            <h3 id="ridd-site-slogan-footer-region">
            {{ site_slogan }}
           </h3> 
          {% endif %}
          {# This could be acknowledgement to country #}
        </div>
      </div> 
    </div>

    {% for key, element in elements %}
      {% if key|first != '#' and element is iterable %}
        <div class="a-new-column">
          {{ element }}
        </div>
      {% endif %}
    {% endfor %}
       

      </div>
    </div>
</div>


</div>

