{# 
  # Hero twig file for Ridd theme
 #}
<div{{ attributes.addClass('ridd-hero-hero-wrapper') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
   <div class="ridd-hero-container">

    <div class="ridd-hero-content">
      <h1 class="prose ridd-hero-title">{{ content.field_title }}</h1>
    {{ content.body }}
    {{ content.field_hero_link }}
    </div>
    <div class="ridd-hero-image-wrapper">
      {{ content.field_hero_image}}
    </div>
  </div>
  {% endblock %}
</div>
